{% extends 'base.html' %}

{% block content %}

 <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About us</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome to GTECH E-commerce website</p>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <p align="justify">
                            <br/><br/>
                            <br/><br/>
Greetings, this online store was initially created for my diploma project at the Kyiv Polytechnic Institute. In the future, I plan to use it as a reference project for my future employment. In this project, I utilized the skills I acquired during my time at the university and additional courses. I aim to further enhance my skills in the future.
                            <br/><br/>
The design of this website was tailored to my family's company, which recently began engaging in international freight transportation. Therefore, the interface was styled in English with a focus on potential future exports, but the product segment is Ukrainian, and so are the prices accordingly.
                            <br/><br/>
It was decided to sell thermal energy products in this online store, as they correspond to my field of study and are relevant to the situation of military conflict in Ukraine overall.
                            <br/><br/>
                            <br/><br/>
                        </p>
                    </div>
                </center>
            </div>
        </div>

{% endblock %}